@import "custom-variables";


$fontweight-light:                                     300;
$fontweight-regular:                                   400;
$fontweight-semibold:                                  600;
$fontweight-bold:                                      700;
$fontweight-extrabold:                                 800;


h1,h2,h3,h4,h5{
  color: $text-secondary;
}

h1,h4,h5{
  font-weight: 800;
}

h2,h3{
  font-weight: 700;
}


h1.sm{
  font-size: 40;
}

h4, .h4, .h4 > * {
    font-weight: 800;
    a{
      color: $link-color;
    }
}

h6, .h6, .h6 > * {
    font-size: $font-size-h6;
    font-weight: $fontweight-semibold;
    margin: 30px 0 8px 0;
}

p, .p{
	line-height: 24px;
}

.p-lg{
  color: $gray-darker;
  font-size: 18px;
  font-family: $font-family-brand;
}

.p-sm, .p-sm *{
  font-size: 14px;
  font-family: $font-family-brand;

  &.bold, &.bold label{
    font-weight: 600;
    margin-bottom: 0;
  }

  &.btn, &.mx-button{
    padding: 4px 13px;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 600;
  }
}


.p-xs, .p-xs *{
  font-size: 12px;
  font-family: $font-family-brand;
  &.bold, &.bold label{
    font-weight: 600;
    margin-bottom: 0;
  }
}

.p-xxs, .p-xxs *{
  font-size: 10px;
  font-family: $font-family-brand;
  &.bold, &.bold label{
    font-weight: $fontweight-bold;
    margin-bottom: 0;
  }
}

.bold{
  font-weight: $fontweight-semibold;

  label{
    font-weight: $fontweight-semibold;
  }
}

.italic{
  font-style: italic;
}

.p-center{
  text-align: center;
}





.inactive, .text-inactive, .text-inactive *, .text-inactive label.control-label {
	color: $text-inactive;
}

.text-minor, .text-minor *, .text-minor label.control-label{
  color: lighten($text-primary, 20);
}

.mono{
  font-family: $font-family-mono;



  //question answers section
  &.form-group p{
    font-family: $font-family-mono !important;
  }
  label{
    font-family: $font-family-brand !important;
  }
}

.euro label::before{
    content: '€ ';
}
