.ap_layoutsub-dual .ap_layout-flex_content > div:nth-child(2) > div:nth-child(1){
  width: 85%;
  background-color: $bg-color-secondary;
}

.ap_layoutsub-dual .ap_layout-flex_content > div:nth-child(2) > div:nth-child(2){
  width: 15%;
  background-color: $bg-color-secondary;
}
.ap_layout-flex_topbar{
  box-shadow: 0 1px 0px rgba(0,0,0,0.1);
}
.lvg_homepage {
  .ap_header {
    border-bottom: 1px solid $border-color-default;
    padding-bottom: 120px;
    .title{
        padding-top: 120px;
    }
    button{
      margin-top: 20px;
    }
  }
}

h2{
  font-weight: 800;
}



.ap_border-bottom{
    padding-bottom: 30px;
    margin-bottom: 90px;
}

// Intro image styling
.ap_intro-image {
  margin: 90px 0 30px 0;
}

.ap_table-forcescroll {
    max-height: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

/////////////////////////////////////////////////////////////////
// Start of Sticky header css
/////////////////////////////////////////////////////////////////

// class to disable scroll on main placeholder
.ap_layout-flex-disable-scroll > div {
  flex-direction: column;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.ap_table-sticky-containter {
  display: flex;
  flex-direction: column;
  .ap_table-sticky-wrapper {
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    // header height
    .ap_table-sticky-header {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: $gray-lighter;
      padding: 15px;
      height: 65px;

      td {
        vertical-align: middle;
        span {
          color: $gray-light;
          font-style: italic;
        }
      }
    }
  }
}
/////////////////////////////////////////////////////////////////
// End of sticky header css
/////////////////////////////////////////////////////////////////

.brand-logo {
  // background: url(../../sass/custom/_projectspecific/img/JR-icon.svg) !important;
}

.ap_full-action-card {
  width: 300px;
  height: 200px;
  padding: 0;
  position: relative;
  background-color: green;
  align-items: flex-start;
  vertical-align: top;
  align-content: flex-start;
}

.ap_card-action {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  // background: red;
  position: absolute;
}

// spans have no display setting so they do not count for margins and paddings. General fix ->
span {
  display: inline-block;
}
