@import "../custom-variables";







.ap_popuplayout{
  box-shadow: 0 10px 30px -6px rgba(0,0,0,0.5);

  &.modal-dialog .modal-content {
    border: none;
    border-radius: 4px;
    box-shadow: none;
    //padding: 30px;
    //padding: 15px;
    padding: 0px;
  }

  &.modal-dialog .modal-content .modal-body {
     padding: 0px;
     //padding-top: 10px;
     //padding-bottom: 10px;
     > div{
       padding: 20px;
     }

     .mx-name-hTMLSnippet1{
       padding: 0;
     }
  }
  .modal-content.mx-window-content{
    overflow: visible;
    .modal-body.mx-window-body{
      overflow: visible;
    }
  }

}

.ap_popuplayout-close{
    background-color: $white;
    height: 30px;
    width: 30px;
    position: absolute;
    //right: -5px;
    right: -20px;
    //top: -5px;
    top: -20px;

    border-radius: 50%;
    box-shadow: 0 10px 30px -2px rgba(0,0,0,0.3);
    border: 1px solid $white;
    cursor: pointer;

    &:hover{
      box-shadow: 0 10px 30px -2px rgba(0,0,0,0.4);
    }


    .ap_icn{
      width: 14px;
      margin-left: 7px;
      margin-top: -2px;


    }

    .mx-text{
      display: none;
    }
}

.ap_popuplayout + .mx-underlay{
  background-color: #000;
      opacity: 0.6;
}


.btn-overlay{
  opacity: 0;
  height: 100%;
  width: 100%;
}


//---------------- formgroup hotfix

.ap_popuplayout .modal-content.mx-window-content .modal-body.mx-window-body > .mx-placeholder{
  overflow-y: auto;
  height: 100%;
}

.ap_popuplayout{
  .form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
  }
}


// ------- listview hotfix

.ap_popuplayout.mx-window .mx-layoutgrid {
    padding-right: 15px;
    padding-left: 15px;
}
