@import "../custom-variables";

.consumentennaam ul li{
  width: 100%;
}




/*
// destorys all other tabs

.mx-name-tabcontrol_garantiedossier{
  li{
    &:nth-last-of-type(2), &:nth-last-of-type(1){
      float: right;
    }
  }
}

*/

.mx-name-tabcontrol_garantiedossier > ul{
  position: sticky;
    top: 00px;
    z-index: 20;
    background-color: $white-secondary;
}

.mx-name-tabcontrol_garantiedossier_lening > ul{
  position: sticky;
    top: 41px;
    z-index: 19;
    background-color: $white-secondary;
}
