@import "../custom-variables";

.ap_contentwrap-sidebar{
  display: flex;
}

.ap_main{
  width: 80%;
}

.ap_sidebar-right{

}

.ap_sidebar{
  width: 20%;
  background-color: $white;
  //position: fixed;
  //right: 0;

  .ap_sidebar-header{
    background-color: $brand-primary;
    padding: 16px;

    h5,h3{
      color: $white;
    }
  }

  .ap_sidebar-content{
    padding: 16px;

    .ap_sidebar-item{
      margin-bottom: 24px;
    }
  }
}

.ap_sidebar{
  .mx-listview-empty{
    font-size: 14px;
    text-align: left;
  }
}
