
.ap_inbox{
  margin-top: 30px;
  border: 0px solid $border-color-default;
  border-radius: 0px;
  background-color: $white;
  //box-shadow: 0 10px 30px -6px rgba(0,0,0,0.16);

  h1,h2,h3,h4,h5{
    margin-top: 0;
  }

 > .mx-layoutgrid {
      padding-bottom: 0px !important;
  }
}



.ap_inbox .ap_icn{
  height: 24px;
  width: 24px;
}



.ap_inbox  > .mx-layoutgrid{
  padding-top: 1px !important;
  > .row > .col-md-6{
    //background-color: blue;
    border-left: 1px solid $gray-primary;
    padding-top: 40px;
    height: calc(100vh - 293px);
  }

  > .row > .col-md-6:first-child{
    //background-color: red;
    padding-right: 0;
    padding-left: 0;
    border-left: 0px;
    padding-top: 30px;
  }
}



.ap_inbox{
  .nav.nav-tabs.mx-tabcontainer-tabs{
    margin-bottom: 0;

  }
  .mx-tabcontainer-pane{
    overflow-y: auto;
    height: calc(100vh - 364px);
  }
}



.ap_inbox .mx-listview {
  .mx-listview-item{
    border-width:  0;

    &.selected, &.mx-focus  {
      background-color: $gray-lighter !important;
    }

  }
}
