


.mx-tabcontainer.ap_tabcontainer{
  .mx-tabcontainer-tabs{
    //background-color: red;
    margin-bottom: 0;
  }
  .mx-tabcontainer-content{
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    margin-bottom: 0;
    //padding-bottom: 600px;
  }
}
